@font-face {
    font-family: robotoLight;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robotoMedium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: comfortaaRegular;
    src: url(fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: comfortaaBold;
    src: url(fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: comfortaaLight;
    src: url(fonts/Comfortaa-Light.ttf);
}

/*boton arriba*/
#myBtn {
    border-radius: 15px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 05px 5px rgba(0,0,0,.5);
    background-color: darkorange;
    border: 0px;
    display: none; 
    position: fixed; 
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    z-index: 99; 
    cursor: pointer; /* Add a mouse pointer on hover */
}

#myBtn:hover {
    background-color: grey;
}

#topflecha {
    width: 30px
}
/*boton arriba*/

.fondo {
    background-image: url('img/AdobeStock_356516190.jpeg');
    background-size: cover;
    min-height: 800px;
    background-position: center;
}

nav {
    display: flex;
    height: 90px;
    align-items: center;
}

nav ul {
    margin-top: 0px;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    font-family: comfortaaRegular;
    list-style: none;
    display: inline-block;
    padding-top: 3em;
    padding-bottom: 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color:white;
}

nav ul li:hover {
    border-bottom-color: #FC6B01;
    border-bottom-style: solid;
}

.site-logo {
    width: 200px;
}

.cabecera {
    padding-top: 12em;
}

.cabecera h2 {
    font-size: 4em;
    font-family: comfortaaRegular;
    color: white;
}

.cabecera h4 {
    font-family: comfortaaRegular;
    color: black;
}

.botones {
    margin-top: 3em;
}

.botones button {
    padding: 10px 20px;
    margin-right: 1em;
    border-color: #F7F7F7;
    border-style: solid;
}

.b1 {
    background-color: #F7F7F7;
    border-style: none;
}

.b2 {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.quees, .imparables {
    padding-top: 5em;
    background-color: #F7F7F7;
    min-height: 400px;
}

.botones2 {
    margin-top: 3em;;
}

.botones2 button {
    padding: 10px 40px;
    margin-right: 1em;

}

.b3 {
    background-color: #FC6B01;
    color: white;
    border-color: #FC6B01;
    border-style: solid;
}

.b4 {
    background-color: rgba(0, 0, 0, 0);
    color: gray;
    border-color: gray;
    border-style: solid;
}

.colchon h2 {
    margin-bottom: 1em;
    font-size: 3em;
}

.imagencolchon {
    width: 100%;
    float: right;
    margin-top: -7em;
}

.colchon {
    font-family: comfortaaRegular;
    min-height: 550px;
    padding: 5em 0px;
}

.colchon p {
    color: gray;
    letter-spacing: 0.1em;
}

.mapa {
    font-family: comfortaaRegular;
    min-height: 550px;
    padding: 2em 0px;
}

.mapa h2 {
    padding-bottom: 0.5em;
}

.mapa .row {
    padding-bottom: 0.5em;
}

.logo img, .logo2 img{
    max-width: 80%;
}

.texto .logo{
    float: right;
}

.texto {
    margin-left:6em;
}

.texto a, .texto2 a{
    color:darkcyan;
    font-weight: bold;
}

.texto2 h4 {
    font-family: comfortaaRegular;
}

#textocolchon {
    font-family: comfortaaBold;
}

#formulario {
    background-color: #F7F7F7;
    min-height: 400px;
    padding: 40px 0px;
    font-family: comfortaaBold;
}

#formulario .col-6 {
margin-left: auto;
margin-right: auto;
}

#formulario h4 {
    text-align: center;
}

#formulario h4 {
    text-align: center;
    padding: 2em 0;
}

#formulario label {
   margin-right: 1em;
}

#formulario input {
    margin-right: 1em;
    background-color:rgba(0, 0, 0, 0);
    border-style: solid;
    border-bottom-color: gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

 #formulario button {
    background-color: #0096C5;
    border-style: none;
    padding: 0.5em 1em;
    color: white;
    min-width: 8em;
}

#mensaje {
    min-width:80%;
}
/*footer*/
footer {
    background-color: #0096C5;
}

footer .row {
    padding: 3em 0em;
}

footer #logofooter {
    width: 11em;
}

.rrssimg {
    width: 25px;
    margin-right: 1em;
}