@font-face {
    font-family: robotoLight;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robotoMedium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: comfortaaRegular;
    src: url(fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: comfortaaBold;
    src: url(fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: comfortaaLight;
    src: url(fonts/Comfortaa-Light.ttf);
}

.fondo {
    background-image: url('img/AdobeStock_356516190.jpeg');
    background-size: cover;
    min-height: 800px;
    background-position: center;
}

.cabecera {
    padding-top: 17em;
}

.cabecera h2 {
    font-size: 4em;
    font-family: comfortaaRegular;
    color: white;
}

.cabecera h4 {
    font-family: comfortaaRegular;
    color: black;
}

.botones {
    margin-top: 3em;
}

.botones button {
    padding: 10px 20px;
    margin-right: 1em;
    border-color: #F7F7F7;
    border-style: solid;
}

.b1 {
    background-color: #F7F7F7;
    border-style: none;
}

.b2 {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.quees, .imparables {
    padding-top: 5em;
    background-color: #F7F7F7;
    min-height: 400px;
}

.botones2 {
    margin-top: 3em;;
}

.botones2 button {
    padding: 10px 40px;
    margin-right: 1em;

}

.b3 {
    background-color: #FC6B01;
    color: white;
    border-color: #FC6B01;
    border-style: solid;
}

.b4 {
    background-color: rgba(0, 0, 0, 0);
    color: gray;
    border-color: gray;
    border-style: solid;
}

.colchon h2 {
    font-family: comfortaaRegular;
    margin-bottom: 1em;
    font-size: 3em;
}

.imagencolchon {
    width: 100%;
    float: right;
    margin-top: -7em;
}

.colchon {
    min-height: 550px;
    padding: 5em 0px;
}

.mapa {
    font-family: comfortaaRegular;
    min-height: 550px;
    padding: 2em 0px;
}

.mapa h2 {
    padding-bottom: 0.5em;
}

.mapa .row {
    padding-bottom: 0.5em;
}

.logo img, .logo2 img{
    max-width: 80%;
}

.texto .logo{
    float: right;
}

.texto {
    margin-left:6em;
}

.texto a, .texto2 a{
    color:darkcyan;
    font-weight: bold;
}

.texto2 h4 {
    font-family: comfortaaRegular;
}

#textocolchon {
    font-family: comfortaaBold;
}

#formulario {
    background-color: #F7F7F7;
    min-height: 400px;
    padding: 40px 0px;
    font-family: comfortaaBold;
}

#formulario .col-6 {
margin-left: auto;
margin-right: auto;
}

#formulario h4 {
    text-align: center;
}

#formulario h4 {
    text-align: center;
    padding: 2em 0;
}

#formulario label {
   margin-right: 1em;
}

#formulario input {
    margin-right: 1em;
    background-color:rgba(0, 0, 0, 0);
    border-style: solid;
    border-bottom-color: gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

 #formulario button {
    background-color: #0096C5;
    border-style: none;
    padding: 0.5em 1em;
    color: white;
    min-width: 8em;
}

#mensaje {
    min-width:80%;
}

footer {
    background-color: #0096C5;
}

footer .row {
    padding: 3em 0em;
}

footer #logofooter {
    width: 11em;
}

/*Formateo para el mapa de google*/

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }
  