@font-face {
    font-family: robotoLight;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robotoMedium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: comfortaaRegular;
    src: url(fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: comfortaaBold;
    src: url(fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: comfortaaLight;
    src: url(fonts/Comfortaa-Light.ttf);
}

.fondo {
    background-image: url('img/AdobeStock_356516190.jpeg');
    background-size: cover;
    min-height: 800px;
    background-position: center;
}

.cabecera {
    padding-top: 17em;
}

.cabecera h2 {
    font-size: 3em;
    font-family: comfortaaRegular;
    color: white;
}

.cabecera h4 {
    font-family: comfortaaRegular;
    color: black;
}

.botones {
    margin-top: 3em;
}

.botones button {
    padding: 10px 20px;
    margin-right: 1em;
    border-color: #F7F7F7;
    border-style: solid;
}

.b1 {
    background-color: #F7F7F7;
    border-style: none;
}

.b2 {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.quees, .imparables {
    padding-top: 5em;
    background-color: #F7F7F7;
    min-height: 400px;
}

.colchon {
    min-height: 550px;
    padding: 5em 0px;
}

.logo img, .logo2 img{
    max-width: 80%;
}

.texto .logo{
    float: right;
}

.texto {
    margin-left:6em;
}

.texto a, .texto2 a{
    color:darkcyan;
    font-weight: bold;
}

.texto2 h4 {
    font-family: comfortaaRegular;
}

#textocolchon h2 {
    font-family: comfortaaBold;
}

#formulario {
    background-color: #F7F7F7;
    min-height: 400px;
    padding: 40px 0px;
    font-family: comfortaaBold;
}

#formulario .col-5 {
margin-left: auto;
margin-right: auto;
}

#formulario h4 {
    text-align: center;
}

#formulario h4 {
    text-align: center;
    padding: 2em 0;
}

#formulario label {
   margin-right: 1em;
}

#formulario input {
    margin-right: 1em;
    background-color:rgba(0, 0, 0, 0);
    border-style: solid;
    border-bottom-color: gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

 #formulario button {
    background-color: #0096C5;
    border-style: none;
    padding: 0.5em 1em;
    color: white;
    min-width: 8em;
}

#mensaje {
    min-width:80%;
}