@font-face {
    font-family: robotoLight;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: robotoMedium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: robotoRegular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: comfortaaRegular;
    src: url(fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: comfortaaBold;
    src: url(fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: comfortaaLight;
    src: url(fonts/Comfortaa-Light.ttf);
}

.fondo {
    background-image: url('img/AdobeStock_356516190.jpeg');
    background-size: cover;
    min-height: 800px;
    background-position: center;
}

nav {
    display: flex;
    height: 90px;
    align-items: center;
}

/*.fondobarra {
    background-color: rgba(0, 0, 0, 0.2);
    height: 90px;
    position: sticky;
}*/

nav ul {
    margin-top: 0px;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    font-family: comfortaaRegular;
    list-style: none;
    display: inline-block;
    padding-top: 3em;
    padding-bottom: 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color:white;
}

nav ul li:hover {
    border-bottom-color: #FC6B01;
    border-bottom-style: solid;
}

.site-logo {
    width: 200px;
}

.cabecera {
    padding-top: 12em;
}

.cabecera h2 {
    font-size: 4em;
    font-family: comfortaaRegular;
    color: white;
}

.cabecera h4 {
    font-family: comfortaaRegular;
    color: black;
}

.botones {
    margin-top: 3em;
}

.botones button {
    padding: 10px 20px;
    margin-right: 1em;
    border-color: #F7F7F7;
    border-style: solid;
}

.b1 {
    background-color: #F7F7F7;
    border-style: none;
}

.b2 {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.quees, .imparables {
    padding-top: 5em;
    background-color: #F7F7F7;
    max-height: fit-content;
    padding-bottom: 2rem;
}

.botones2 {
    margin-top: 3em;;
}

.botones2 button {
    padding: 10px 40px;
    margin-right: 1em;
}

.b3 {
    background-color: #FC6B01;
    color: white;
    border-color: #FC6B01;
    border-style: solid;
}

.b4 {
    background-color: rgba(0, 0, 0, 0);
    color: gray;
    border-color: gray;
    border-style: solid;
}

.colchon h2 {
    margin-bottom: 1em;
    font-size: 3em;
}

.imagencolchon {
    width: 100%;
    float: right;
    margin-top: -7em;
}

.colchon {
    font-family: comfortaaRegular;
    min-height: 550px;
    padding: 5em 0px;
}

.colchon p {
    color: gray;
    letter-spacing: 0.1em;
}

.mapa {
    font-family: comfortaaRegular;
    min-height: 550px;
    padding: 2em 0px;
}

.mapa h2 {
    padding-bottom: 0.5em;
}

.mapa .row {
    padding-bottom: 0.5em;
}

.logo img, .logo2 img {
    max-width: 80%;
}

.texto .logo {
    float: right;
}

.texto {
    margin-left:6em;
}

.texto a, .texto2 a {
    color:darkcyan;
    font-weight: bold;
}

.texto2 h4 {
    font-family: comfortaaRegular;
}

#textocolchon {
    font-family: comfortaaBold;
}

#formulario {
    background-color: #F7F7F7;
    min-height: 400px;
    padding: 40px 0px;
    font-family: comfortaaBold;
}

#formulario .col-10, #formulario .col-sm-6 {
    margin-left: auto;
    margin-right: auto;
}

#formulario h4 {
    text-align: center;
}

#formulario h4 {
    text-align: center;
    padding: 2em 0;
}

#formulario label {
   margin-right: 1em;
}

#formulario input {
    margin-right: 1em;
    background-color:rgba(0, 0, 0, 0);
    border-style: solid;
    border-bottom-color: gray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

 #formulario button {
    background-color: #0096C5;
    border-style: none;
    padding: 0.5em 1em;
    color: white;
    min-width: 8em;
}

#mensaje {
    min-width:71%;
    background-color: rgba(0, 0, 0, 0);
    border-color: gray;
    border-width: 1.8px;
}

/*botones puntos de venta*/
#puntosdeventa button {
    font-size: smaller;
    background-color: white;
    border-radius: 100px;
}

/*footer*/
footer {
    background-color: #0096C5;
}

footer .row {
    padding: 3em 0em;
}

footer #logofooter {
    width: 11em;
}

.rrssimg {
    width: 25px;
    margin-right: 1em;
}

/*MEDIA QUERY*/

/*para movil*/

@media (max-width: 400px) {
    .colchon .container #invertir{
        display: flex;
        flex-flow: column-reverse;
    }
}

@media (max-width: 768px) {
    /*cabecera*/
    .fondo {
        min-height: 700px;
    }

    .cabecera {
        padding-top: 8em;
    }

    .cabecera, .botones, nav img {
        padding-left: 2em;
    }

    .cabecera h2 {
        font-size: 3em;
    }

    .b1, .b2 {
        width: 300px;
        margin-bottom: 1em;
    }

    /*que es la leucemia*/

    .quees img {
        text-align: center;
        margin-bottom: 2em;
    }

    .texto, .quees img{
        margin-left:2em;
    }

    /*sección descanso solidario*/
    .colchon {
        margin-left: 2em;
        padding: 2em 0px;
    }

    .colchon h2 {
        font-size: 2em;
    }


    /*sección imparables*/
    .texto2, .logo2 {
        margin-left:2em;
        padding-bottom: 2em;
    }

    .imparables {
        padding-top: 3em;
    }

    /*sección mapa*/
    .mapa {
        margin-left: 2em;
    }

    /*sección form*/
    #nombre, #mail, #mensaje {
        width: 100%;
    }

    #nombre {
        margin-bottom: 1em;
    }

    /*sección footer*/
    .rrss {
        text-align: right;
    }

    .rrssimg {
        width: 20px;
        margin-right: 1em;
    }

    footer #logofooter {
        width: 9em;
        margin-left: 2em;
    }

    /*cancelar scroll horizontal*/
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}

/*para iPad*/

@media only screen and (min-width: 768px) {
    .texto, .quees img {
        margin-left:2em;
    }
}

@media (max-width: 1436px) {

    nav ul {
        display: none;
    }
    
    /*que es la leucemia*/
    .quees img {
        text-align: center;
        margin-bottom: 2em;
    }

    /*descanso solidario*/
    .imagencolchon {
        margin-top: 0em;
    }

    .b3, .b4 {
        width: 300px;
        margin-bottom: 1em;
    }

}